<template>
	<div class="control">
		<button class="button" @click="clickPause">
			{{ pauseButtonLabel }}
		</button>
		<button class="button" @click="clickRestart">Restart</button>
		<div v-if="devMode">X: {{ currentBlockX }} Y: {{ currentBlockY }}</div>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';

export default {
	name: 'ActionButtons',
	emits: ['focus-canvas'],
	computed: {
		...mapState(['devMode']),
		...mapGetters(['isRunning', 'currentBlockX', 'currentBlockY']),
		pauseButtonLabel() {
			return this.isRunning ? 'Pause' : 'Resume';
		},
	},
	methods: {
		...mapActions(['togglePause', 'restart']),
		clickPause() {
			this.togglePause();
			this.$emit('focus-canvas');
		},
		clickRestart() {
			this.restart();
			this.$emit('focus-canvas');
		},
	},
};
</script>

<style lang="scss" scoped>
.control {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
	gap: 0.5em;
}
</style>
