<template>
	<div>
		<game-over v-if="isGameOver" />
		<canvas
			id="theCanvas"
			ref="theCanvas"
			class="the-canvas"
			:width="boardFullWidth"
			:height="boardFullHeight"
			tabindex="1"
		/>
	</div>
</template>

<script>
import GameOver from './game-over';
import { mapActions, mapGetters } from 'vuex';

export default {
	name: 'BoardCanvas',
	components: { GameOver },
	computed: {
		...mapGetters(['isGameOver', 'boardFullWidth', 'boardFullHeight']),
	},
	async created() {
		await this.$refs.theCanvas;
		this.initGfx({ boardCanvas: document.getElementById('theCanvas') });
	},
	methods: {
		...mapActions(['initGfx']),
		focusCanvas() {
			this.$refs.theCanvas.focus();
		},
	},
};
</script>

<style lang="scss" scoped>
.the-canvas {
	border: 1px solid #000000;
}
</style>
