<template>
	<div class="game-stats">
		<div class="score">Score: {{ score }}</div>
		<div class="high-score">Your high score: {{ currentHighScore }}</div>
		<div class="level">Level: {{ level }}</div>
		<div class="info">
			<table class="table is-striped is-bordered">
				<tbody>
					<tr>
						<th>Key</th>
						<th>Action</th>
					</tr>
					<tr>
						<td>left arrow</td>
						<td>move block left</td>
					</tr>
					<tr>
						<td>right arrow</td>
						<td>move block right</td>
					</tr>
					<tr>
						<td>up arrow, f or r</td>
						<td>rotate clockwise</td>
					</tr>
					<tr>
						<td>e</td>
						<td>rotate counter clockwise</td>
					</tr>
					<tr>
						<td>space</td>
						<td>drop block</td>
					</tr>
					<tr>
						<td>p</td>
						<td>pause/resume</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'GameStats',
	computed: {
		...mapGetters(['score', 'currentHighScore', 'level']),
	},
};
</script>

<style lang="scss" scoped>
.game-stats {
	display: flex;
	flex-direction: column;
	align-items: center;

	.score {
		font-size: 2em;
		margin-bottom: 1rem;
	}

	.high-score {
		font-size: 1em;
		margin-bottom: 1rem;
	}

	.level {
		font-size: 1em;
	}

	.info {
		display: block;
		margin-top: 2em;
		margin-bottom: 1em;
	}

	@media (max-width: 600px) {
		.info {
			display: none;
		}
	}
}
</style>
