<template>
	<span class="game-over"> Game Over </span>
</template>

<script>
export default {
	name: 'GameOver',
};
</script>

<style scoped>
.game-over {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 5em;
	z-index: 9000;

	color: white;
	text-shadow: black 0.1em 0.1em 0.15em;
	font-size: 3em;
}
</style>
