<template>
	<div>
		<div class="next-block-canvas">
			<p class="title">Next block</p>
			<canvas
				id="nextBlockCanvas"
				ref="nextBlockCanvas"
				:width="blockFullWidth * 6"
				:height="blockFullWidth * 5"
				style="border: 1px solid #000000"
				tabindex="1"
			/>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
	name: 'NextBlock',
	computed: {
		...mapGetters(['nextBlock', 'blockFullWidth']),
	},
	watch: {
		nextBlock() {
			this.drawNextBlock();
		},
	},
	async created() {
		await this.$refs.nextBlockCanvas;
		this.initGfx({
			nextBlockCanvas: document.getElementById('nextBlockCanvas'),
		});
	},
	methods: {
		...mapActions(['initGfx', 'drawNextBlock']),
	},
};
</script>

<style lang="scss" scoped>
.next-block-canvas {
	display: flex;
	flex-direction: column;
	align-items: center;
	.title {
		font-size: 2em;
		@media (max-width: 1100px) {
			font-size: 1em;
		}
	}
}
</style>
