<template>
	<div>
		<div class="modal is-active">
			<div class="modal-background" />
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">
						Do you want to reload last game state?
					</p>
					<button class="delete" aria-label="close" />
				</header>
				<footer class="modal-card-foot">
					<button class="button is-primary">Reload</button>
					<button class="button">New game</button>
				</footer>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ReloadPopup',
	async created() {
		// const audio = new Audio('audio/reload.mp3');
		// await audio.play();
	},
};
</script>
