<template>
	<div class="page-container">
		<span class="page-title">Tetris</span>
		<div class="page-content">
			<NextBlock class="next-block" />
			<div class="board-content">
				<BoardCanvas ref="boardCanvas" class="board-canvas" />
				<VirtualControls class="virtual-controls" />
			</div>
			<div class="game-control-wrap">
				<div class="game-control">
					<ActionButtons
						class="action-buttons"
						@focus-canvas="focusBoardCanvas"
					/>
					<GameStats class="game-stats" />
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { mapGetters, mapActions, mapState } from 'vuex';
import ActionButtons from './action-buttons';
import NextBlock from './next-block';
import GameStats from './game-stats';
import BoardCanvas from 'src/components/board-canvas';
import VirtualControls from 'src/components/virtual-controls';

export default {
	name: 'TetrisPage',
	components: {
		VirtualControls,
		BoardCanvas,
		ActionButtons,
		NextBlock,
		GameStats,
	},
	computed: {
		...mapState(['tetris']),
		...mapGetters([
			'isRunning',
			'isGameOver',
			'boardFullWidth',
			'boardFullHeight',
		]),
	},
	async mounted() {
		document.addEventListener('visibilitychange', () => {
			if (this.isRunning) {
				this.togglePause();
			}
		});
		window.addEventListener('beforeunload', () => {
			this.saveState();
		});
		await this.$refs.boardCanvas;
		await this.initGame();
		this.focusBoardCanvas();
	},
	methods: {
		...mapActions(['togglePause', 'initGame', 'saveState']),
		focusBoardCanvas() {
			this.$refs.boardCanvas.focusCanvas();
		},
	},
};
</script>

<style lang="scss" scoped>
.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.page-title {
		font-size: 4em;
		margin-bottom: 1em;
	}

	.page-content {
		display: flex;
		width: 100%;

		.next-block {
			flex-grow: 1;
			flex-basis: 0;
			align-items: flex-end;

			display: flex;
			flex-direction: column;
		}

		.board-content {
			flex-grow: 1;
			flex-basis: 0;

			.board-canvas {
				display: flex;
				justify-content: center;
			}

			.virtual-controls {
				display: none;
			}
		}

		.game-control-wrap {
			flex-grow: 1;
			flex-basis: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.game-control {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}

@media (max-width: 1100px) {
	.page-container {
		.page-title {
			font-size: 1em;
		}

		.page-content {
			flex-direction: column;

			.next-block {
				align-items: center;
				margin-bottom: 0.5em;
			}

			.board-content {
				.virtual-controls {
					display: flex;
					justify-content: center;
					margin: 0.5em 0;
				}
			}

			.game-control-wrap {
				align-items: center;
			}
		}
	}
}
</style>
