<template>
	<div class="virtual-controls-container">
		<button class="button" @click="rotateClockwise">
			<FontAwesomeIcon icon="redo" />
		</button>
		<button class="button" @click="rotateCounterClockwise">
			<FontAwesomeIcon icon="undo" />
		</button>
		<button class="button" @click="dropCurrentBlock">
			<FontAwesomeIcon icon="angle-double-down" />
		</button>

		<button class="button move-left" @click="moveLeft">
			<FontAwesomeIcon icon="arrow-left" />
		</button>
		<div class="vertical-arrows">
			<button class="button" @click="rotateClockwise">
				<FontAwesomeIcon icon="arrow-up" />
			</button>
			<button class="button" @click="moveDown">
				<FontAwesomeIcon icon="arrow-down" />
			</button>
		</div>
		<button class="button" @click="moveRight">
			<FontAwesomeIcon icon="arrow-right" />
		</button>
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	name: 'VirtualControls',
	methods: {
		...mapActions([
			'rotateClockwise',
			'rotateCounterClockwise',
			'dropCurrentBlock',
			'moveLeft',
			'moveDown',
			'moveRight',
		]),
	},
};
</script>

<style lang="scss" scoped>
.virtual-controls-container {
	display: flex;
	align-items: flex-end;

	.move-left {
		margin-left: 1em;
	}

	.vertical-arrows {
		display: flex;
		flex-direction: column;
	}
}
</style>
